{% extends "base.html" %}

{% block conteudo %}
    <h1>Cadastro de Usuário</h1>
    <form action="inserir" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.usuario.label }} <br/>
            {{ form.usuario(size=32) }} <br/>
            {% for error in form.usuario.errors %}
                <span style="color: red;">{{ error }}</span> <br/>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }} <br/>
            {{ form.email(size=32) }} <br/>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span> <br/>
            {% endfor %}
        </p>
        <p>
            {{ form.senha.label }} <br/>
            {{ form.senha(size=32) }} <br/>
            {% for error in form.senha.errors %}
                <span style="color: red;">{{ error }}</span> <br/>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        
    </form>
{% endblock %}